﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimRacingPL - Wyścigi to nasza pasja</title>
    <link href="~/Content/style.css" rel="stylesheet">
    <meta name="description" content="SimRacing świat wyścigów online. Liga rFactor, Race07 i iRacing. Wyścigi to nasza pasja - SimRacingPL" />
    <meta name="keywords" content="simracing,świat,wyścigów,online,liga,rfactor,race07,iracing,wyścigi,nasza,pasja,simracingpl" />
    <meta name="ROBOTS" content="INDEX,FOLLOW" />
    <meta name="resource-type" content="document" />
    <meta name="author" content="SimRacingPL" />
    <meta name="copyright" content="Copyright (c) 2004-2015 by SimRacingPL" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/tinybox.js"></script>
    <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/toucheffects.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="200">

    <!-- Menu -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/images/srpl.png" height="42px" border="0"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#ligi">Ligi</a></li>
                    <li><a href="#onas">O nas</a></li>
                    <!--<li><a href="#klas">Klasyfikacje</a></li>-->
                    <li><a href="#media">Multimedia</a></li>
                    <li><a href="http://simracing.pl/index.php">Portal</a></li>
                    <li><a href="http://simracing.pl/forum"><b>Forum</b></a></li>
                    <li class="social"><a href="https://www.facebook.com/SimRacingPL"><img src="/images/icon_fb.png"></a></li>
                    <!--<li class="social"><a href="#yt"><img src="/images/icon_yt.png"></a></li>-->
                    <li class="social"><a href="http://steamcommunity.com/groups/simracing-pl"><img src="/images/icon_steam.png"></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right social-collapse">
                    <li><a href="https://www.facebook.com/SimRacingPL/"><img src="/images/icon_fb.png"></a></li>
                    <!--<li><a href="#yt"><img src="/images/icon_yt.png"></a></li>-->
                    <li><a href="http://steamcommunity.com/groups/simracing-pl"><img src="/images/icon_steam.png"></a></li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()
</body>
</html>
