﻿@model FrontSRPL.Models.PageContainer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nagłówek -->

<div id="top" class="page-header">
    <div class="container-fluid">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="false" data-interval="10000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="carousel-img" alt="1" style=" background-image: url(@Model.mNews.ElementAt(0).Image); background-position: center;"></div>
                    <div class="carousel-caption">
                        <a href="#">
                            <h3>@Model.mNews.ElementAt(0).Title</h3>
                            <p>@Model.mNews.ElementAt(0).Subtitle </p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-img" alt="2" style=" background-image: url(@Model.mNews.ElementAt(1).Image); background-position: center;"></div>
                    <div class="carousel-caption">
                        <a href="#">
                            <h3>@Model.mNews.ElementAt(1).Title</h3>
                            <p>@Model.mNews.ElementAt(1).Subtitle</p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-img" alt="3" style=" background-image: url(@Model.mNews.ElementAt(2).Image); background-position: center;"></div>
                    <div class="carousel-caption">
                        <a href="#">
                            <h3>@Model.mNews.ElementAt(2).Title</h3>
                            <p>@Model.mNews.ElementAt(2).Subtitle</p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-img" alt="4" style=" background-image: url(/images/head4.png); background-position: center;"></div>
                    <div class="carousel-caption">
                        <a href="#">
                            <h3>rFactor 2 Historic</h3>
                            <p>Powrót do przeszłości</p>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="carousel-img" alt="5" style=" background-image: url(/images/head.png); background-position: center;"></div>
                    <div class="carousel-caption">
                        <a href="#">
                            <h3>rFactor 2</h3>
                            <p>bla bla bla</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <a href="http://simracing.pl/forum/f299/jak-rozpoczac-wirtualna-kariere-16887/#post566407"><img class="join" src="/images/dolacz.png"></a>
</div>



<!-- Live -->
<div id="wyscig" style="display;">
    <div class="container">
        <div class="row">
            <!--<div class="col-sm-12"><h1>Najbliższy wyścig:</h1></div>-->
            <div class="col-sm-12"><h1>Live</h1></div>
        </div>
        <!--<div class="row slideanim">
            <div class="col-lg-5"><h3>rF2 <b>WEC</b></div>
            <div class="col-lg-5"><h3>Spa-Francorchamps</b></div>
            <div class="col-lg-2"><h3>123d 12h 34m</b></div>
        </div>-->
        <div class="media-vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gJgl5LGSY2A?autoplay=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="separator"></div>
<!-- Ligi -->
<div id="ligi">
    <div class="container"><h1>Ligi</h1></div>
    <div class="ligi">
        <div class="container slideanim">
            <div class="row">
                <div class="col-sm-6">
                    <div class="grid cs-style-1">
                        <figure>
                            <img src="@Model.mLeagues.ElementAt(0).image" alt="rFactor 2 ALMS">
                            <a href="@Model.mLeagues.ElementAt(0).link">
                                <figcaption>
                                    <h1>@Model.mLeagues.ElementAt(0).name</h1>
                                </figcaption>
                            </a>
                            <h5>@Model.mLeagues.ElementAt(0).name</h5>
                        </figure>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="grid cs-style-1">
                        <figure>
                            <img src="@Model.mLeagues.ElementAt(1).image" alt="rFactor 2 Historic">
                            <a href="@Model.mLeagues.ElementAt(1).link">
                                <figcaption>
                                    <h1>@Model.mLeagues.ElementAt(1).name</h1>
                                </figcaption>
                            </a>
                            <h5>@Model.mLeagues.ElementAt(1).name</h5>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- O nas -->
<div id="onas">
    <div class="container">
        <h1>O nas</h1>
        <div class="slideanim">
            <p>Jesteśmy profesjonalnym i największym w Polsce organizatorem wirtualnych wyścigów samochodowych. Dokładamy wszelkich starań, aby rywalizacja na wirtualnym torze była jak najbardziej zbliżona do rzeczywistych warunków jakie panują na torze wyścigowym. W tym celu wybraliśmy najlepsze dostępne na rynku tytuły symulatorów. Nad całością czuwa „system ligowy”, czyli system, który pozwolił zautomatyzować wszystkie ligi i dostarczać kierowcom wszystkich niezbędnych informacji. System ligowy jest naszym autorskim projektem, który został stworzony pod przewodnictwem Michała Kożusznika i Krzysztofa Walińskiego.</p>
            <p>Wszystko co robimy, robimy z pasji, zainteresowania i miłości do wyścigów samochodowych. Stanowimy liczną grupę osób, które rywalizują na wirtualnych torach, ale nigdy za wszelką cenę. Bezpieczeństwo i zasada Fair Play są najważniejsze podczas wyścigu, choć oczywiście twarda walka, spalone opony i rozbite auta też są na porządku dziennym. To wszystko wymaga maksymalnej koncentracji, dobrze przygotowanej strategii i trochę umiejętności. To wszystko sprawia, że wciąż przybywa nowych kierowców, których zawsze witamy z otwartymi rękami i oferujemy wszelką pomoc przy stawianiu pierwszych kroków na torze. Cały czas poszerzamy swoją wiedzę i udoskonalamy naszą ofertę. Zapraszamy na tor!</p>
            <p>Wszystkie proponowane przez nas wyścigi są oparte grach symulacyjnych. Wśród dostępnych na rynku tytułów wybraliśmy te, które najlepiej spełniają swoje zadanie. Wśród nich znalazły się: rFactor 2 i Assetto Corsa. Kierowcy mogą uczestniczyć w wielu wydarzeniach organizowanych przez portal. Pierwszym i podstawowym punktem są ligi wyścigowe.</p>
            <p>Sam portal stał się już skarbnicą wiedzy. W naszych zasobach zgromadziło się przeszło 300 000 postów. Wynikiem i uzupełnieniem dyskusji prowadzonych na forum jest zbiór artykułów, które poruszają najważniejsze kwestie związane z portalem i simracingiem, galeria zdjęć, multimedia i wiele innych.</p>
            <p>Serce wyścigów to system ligowy, dzięki któremu nastąpiła pełna automatyzacja wszelkich tabel i klasyfikacji. Funkcja Live View umożliwia raz na minutę podgląd bieżącej klasyfikacji odbywającego się wyścigu.</p>
            <p>Dodatkowo oferujemy serwer FTP oraz Team Speak – program do komunikacji w trakcie wyścigów.</p>
        </div>
        <br>
    </div>
</div>

<!-- Klasyfikacje -->

<div id="klas">
    <div class="container">
        <h1>Klasyfikacje</h1>
        <div class="row">
            <div class="col-sm-6">
                <table class="klas-tab slideanim">
                    <tr>
                        <th colspan="2"><h1>rFactor 2 <b>WEC</b></h1></th>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">100</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">90</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">80</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">70</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">60</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">50</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">40</td>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">30</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">20</td>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">10</td>
                </table>
            </div>

            <div class="col-sm-6">
                <table class="klas-tab slideanim">
                    <tr>
                        <th colspan="2"><h1>rFactor 2 <b>ALMS</b></h1></th>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">100</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">90</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">80</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">70</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">60</td>
                    </tr>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">50</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">40</td>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">30</td>
                    </tr>
                    <tr>
                        <td class="tdn1">I Nazwisko</td>
                        <td class="tdp1">20</td>
                    <tr>
                        <td class="tdn2">I Nazwisko</td>
                        <td class="tdp2">10</td>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Media ?? -->
<div id="media">
    <div class="container">
        <h1>Multimedia</h1>
        <div class="row slideanim">
            <div class="col-sm-8">
                <div class="media-vid">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLsLIlQQwcQJGuKwGPUwr8ZQ7rlvF2tF1y" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="media-pic">
                    <div class="row">
                        @{
                            for (int i = 0; i < Model.mImages.Count(); i++)
                            {
                                <div class="col-xs-6">
                                    <div class="grid2 cs-style-2">
                                        <figure data-toggle="modal" data-target="#modal-img-@i">
                                            <img src="@Model.mImages.ElementAt(i).link">
                                            <figcaption></figcaption>
                                        </figure>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    

<!-- Modal -->
@{
    for (int i = 0; i < Model.mImages.Count(); i++)
    {
        <div id="modal-img-@i" class="modal fade" role="dialog">
            <div class="container modal-content" data-dismiss="modal">
                <img class="img-responsive" data-dismiss="modal" src="@Model.mImages.ElementAt(i).link" alt="@i">
                <h5>"@Model.mImages.ElementAt(i).desc"</h5>
            </div>
        </div>
    }
}

    
<!-- Stopka -->
<div id="foot">
    <div class="container">
        <p class="footer">
            <a class="up-arrow" href="#top" data-toggle="tooltip" title="W górę">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </p>
        <p class="footer">
            SimRacingPL ©2004-2017 All rights reserved
        </p>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});</script>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, .footer a[href='#top']").on('click', function(event) {

   // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 900, function(){

      // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
      });
    } // End if
  });
})
</script>

